<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Railway RCA">
         <property
               name="windowImages"
               value="icons/foerde-logo-16.gif,icons/foerde-logo-32.gif,icons/foerde-logo-48.gif,icons/foerde-logo-64.gif,icons/foerde-logo-128.gif">
         </property>
         <property
               name="appName"
               value="Railway RCA">
         </property>
         <property
               name="startupForegroundColor"
               value="BABDB6">
         </property>
         <property
               name="startupMessageRect"
               value="10,200,0,0">
         </property>
         <property
               name="startupProgressRect"
               value="19,301,207,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.railsl.product.Perspective"
            name="Perspective"
            id="de.cau.cs.kieler.railsl.product.perspective">
      </perspective>
   </extension>

</plugin>
